.review-container {
  height: 100vh;
  display: grid;
  grid-template-rows: 11fr 1fr;
}

.review-controls {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-content {
  /* display: flex; */
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
}

.card-content * {
  /* width: 80%; */
}

.card-content h1 {
  font-size:xx-large;
}

.card-content h2 {
  font-size:x-large;
}

.card-content h3 {
  font-size:large;
}

.card-content img {
  width: 50%;
}