.card-tabs {
  display: flex;
  padding: 0;
}

.tab-title {
  font-size: small;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 1rem;
  cursor: pointer;
  border-top: 2px solid transparent;
  background-color: #1a1b25;
  user-select: none;
}

.tab:hover {
  background-color: #3b455d;
}

.tab.active {
  border-top-color: #007bff;
}