.deckList-container {
  font-family: 'Consolas', 'Monaco', monospace;
  color: #ccc;
  background: #1e1e1e;
}

.deckList {
  list-style: none;
  padding: 0;
  text-align: left;
}

.deckListItem .deck-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.deckListItem .deck-name .deck-list-label {
}

.deckListItem .deck-name:hover {
  /* background-color: #333333; */
}

.deckList-actions .icon-button {
  margin: 0 5px;
}

.deckList-loading, .deckList-error {
  color: #f00;
}

