.explorer-container {
  font-family: 'Consolas', 'Monaco', monospace;
  color: #ccc;
  background: #1e1e1e;
  padding: 10px;
  user-select: none;
  width: 15rem;
}

.explorer {
  list-style: none;
  padding: 0;
}

.explorer-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-radius: 4px;
  transition: background-color 0.2s ease-in-out;
}

.explorer-item:hover {
  background-color: #333333;
}

.explorer-actions .icon-button {
  margin: 0 5px;
}

.explorer-loading, .explorer-error {
  color: #f00;
}

h1 {
  font-size:medium;
}
