.sidebar {
  /* width: 60px; */
  /* height: 100vh; */
  background-color: #333;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-item {
  width: 100%;
  padding: .5rem;
  text-align: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-item:hover {
  background-color: #444;
}

.sidebar-item-label {
  font-size: 12px;
  display: none;
}

.sidebar {
  background-color: #333;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.sidebar-items-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}